
  .see-more{
     display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid black;
    width: 180px;
    cursor: pointer;
    text-decoration: none; 
    color: black;
    transition: 0.6s;
  }

  .project a{
    text-decoration: none; 
    color: black;
  }
  .see-more:hover{
    border: 2px solid #f900f3;
    color: white;
    background-image: linear-gradient(45deg, #f900f3, #2f0bcf);
    transform: scale(1.05);
    transition: 0.4s;
    gap:20px;
}

.read-more-bg {
  background-color: white;
}

.read-more-bg:hover {
  color: white;
  background-image: linear-gradient(110deg, #f900f3 35%, #2f0bcf 100%);
}
.read-more-icon{
  width: 25px;
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
}


@media(max-width: 500px){

    .see-more{
        display: flex;
        gap:10px;
        margin: 25px;
        padding: 5px 10px;
        width: 130px;
    }
    .see-more img{
        max-width: 20px;
    }

}

@media (prefers-color-scheme: dark) {
   .see-more{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid white;
    width: 180px;
    cursor: pointer;
    text-decoration: none; 
    color: white;
    transition: 0.6s;
  }

  .read-more-btn {
  display: block; 
  margin: 10px auto;
  padding: 20px 45px;
  font-size: 18px;
  background-color: white;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  color: white;
  background-image: linear-gradient(110deg, #f900f3 35%, #2f0bcf 100%);
}

  
}


  