@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --background: #F8F2EC;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-russo-one);
  --font-subHeading: var(--font-abril-fatface);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial,  sans-serif;
}

.pink-to-blue{
  background: linear-gradient(315deg, #f900f3 -5%, #2f0bcf 100%);
}

.text-gradient{
  background: linear-gradient(110deg, #f900f3  20%, #2f0bcf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subText-gradient{
  background: linear-gradient(170deg, #f90089  30%, #0b39cf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.darkText-gradient{
  background: linear-gradient(15deg, #462610  5%, #073ce9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkfont{
  color:#2779F6;
  text-decoration: underline;

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

   .text-gradient {
    background: linear-gradient(110deg, #f1dcf1  20%, #dd5ee9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subText-gradient{
  background: linear-gradient(170deg, #f700ff  30%, #00ccff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  .darkText-gradient{
  background: linear-gradient(15deg, #ffee59   5%, #f1fdff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkfont{
  color:yellow;
  text-decoration: underline;
  
}
  
}
