/* -----Welcone-----  */
  
  .device-image img{
    height: auto;
    width: 100%;
  }

  .device-image {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-top: 20px;
  }
  
  .device1 {
    grid-column: 1 / 2;
    justify-self: end;
    max-width: 350px;
  }
  
  .device2 {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
    margin-right: -35px;
    max-width: 330px;
  }
  
  .device3 {
    grid-column: 3 / 4;
    justify-self: start;
    max-width: 350px;
  }
  
  @media (max-width: 1024px) {

    .device2 {
        margin-right: -35px;
        max-width: 270px;
    }
      
    }

    @media (max-width: 780px) {
    /* --- welcome --- */

  .device-image {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-top: -10px;
    grid-gap: 8px;
  }
  .device1 {
    max-width: 80%;
  }
  .device2 {
    max-width: 60%;
    margin-right: -40px;
  }
  .device3 {
    max-width: 80%;
  }
        }

@media (max-width: 500px) {  
    .device1 {
        max-width: 75%;
        margin-top: 15px;
      }
      .device2 {
        max-width: 60%;
        margin-right: -30px;
        margin-top: 15px;
      }
      .device3 {
        max-width: 75%;
        margin-top: 15px;
      }
}


@media (max-width: 460px) {
    .device1 {
        max-width: 80%;;
      }
      .device3 {
        max-width: 80%;
      }
}
  