

   
.contact-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left:40px;
    align-items: center;
    margin-bottom: 50px;
}
.contact-left{
    grid-column:  1/ 2;
}

.contact-left p{
    line-height: 35px;
}
   


.contact-left input,textarea {
    background: var(--input-color);
    width: 90%;
    min-width: 500px;
    margin-top: 10px;
    padding: 25px;
    margin-right: 50px;
    line-height: 1.5rem;
    border: none;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    font-size: 20px;
}

.errormsg{
    color: red;
    line-height: 1.3rem;
    display: block; 
    margin-top: 5px; 
}


.contact-right{
    grid-column:  2/ 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.icons {
    display: flex;
    justify-self:center;
    padding-top: 250px;
}

.contact-right h1{
    font-size: 65px;
    font-weight: 500;
    margin: 0 50px;
    background: linear-gradient(45deg, #f900f3 30%, #2f0bcf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-form ul{
    list-style-type: none;
}

.icons img {
    width:90px;
    height: auto; 
    max-width: 100px;
    padding:15px;
    transition: 0.3s;
}
.icons img:hover{
    transform: scale(1.1);
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(315deg, #f900f3 -5%, #2f0bcf 100%);
    font-size: 22px;
    padding: 20px 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover{
    transform: scale(1.1);
}

@media (max-width: 900px) {


    .contact-right{
        align-items: start;
    }
   

    .contact-left input,textarea {
        width: 90%;
        min-width: 450px;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 35px;
        line-height: 1.3rem;
    }


}

@media(max-width:780px){
    .contact-form-title{
        margin: 50px 0px 15px 5px ;
    }
    .contact-section{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left:20px;
    }
    .contact-left input,textarea {
        min-width: 300px;
        padding: 15px;
    }
 
    .contact-submit{
        padding: 15px 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .contact-right h1{
        margin: 0px;
        margin-left: 200px
    }
    .contact-right h1{
    font-size: 40px;
    font-weight: 300;
    margin: 0 20px;
}
    .icons {
        padding-top: 20px;
        margin-left: 200px
    }
    .icons img {
        width:60px;
        height: auto; 
        max-width: 40px;
        padding:0px;
    }
}

@media(max-width:500px){

    .contact-section{
        margin-left:10px;
    }

    .contact-detail{
        margin-top: 5px
    }

    .form-heading {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .contact-left input,textarea {
        font-size: 16px;
        min-width: 200px;
        padding: 8px;
    }

    .contact-submit{
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .icons {
        padding-top: 10px;
        margin-left: 150px;
    }
}